body {
  margin: 0;
  padding: 0;
  background: url("../public/media/bg.png");
  background-size: cover;
  background-color: #F5E3D0;
  color: #565350;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: 'Source Sans Pro', sans-serif;
}

body * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p, h1, h2 {
  margin: 0;
  padding: 0;
}

button {
  color: white;
  background-color: #E4BD31;
  border: 1px solid #FFDF6E;
  border-radius: 20px;
  -webkit-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25);
          box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25);
  padding: 1rem 2rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  -webkit-transition: border .2s linear, background-color .2s linear, -webkit-transform .2s linear;
  transition: border .2s linear, background-color .2s linear, -webkit-transform .2s linear;
  transition: border .2s linear, background-color .2s linear, transform .2s linear;
  transition: border .2s linear, background-color .2s linear, transform .2s linear, -webkit-transform .2s linear;
}

button:hover {
  background-color: #f0d164cc;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

button:active {
  -webkit-transition: none;
  transition: none;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.shadow {
  -webkit-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25);
          box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25);
}

.clickable {
  cursor: pointer;
  -webkit-transition: border .2s linear, background-color .2s linear, -webkit-transform .2s linear;
  transition: border .2s linear, background-color .2s linear, -webkit-transform .2s linear;
  transition: border .2s linear, background-color .2s linear, transform .2s linear;
  transition: border .2s linear, background-color .2s linear, transform .2s linear, -webkit-transform .2s linear;
}

.clickable:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.clickable:active {
  -webkit-transition: none;
  transition: none;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.underline:hover {
  text-decoration: underline;
}

.welcome {
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url("../public/media/bg.png");
  background-color: #FFE6CB;
  background-size: cover;
  -webkit-transition: top .8s ease-in-out, opacity .8s ease-in-out;
  transition: top .8s ease-in-out, opacity .8s ease-in-out;
}

.welcome .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  max-width: 70vw;
  margin: auto;
  margin-top: 5vh;
}

.welcome .container p {
  -webkit-transition: opacity 1s linear;
  transition: opacity 1s linear;
  opacity: 0;
}

.welcome .container p:nth-of-type(1) {
  font-size: 3.5rem;
  margin-top: 1rem;
}

.welcome .container p:nth-of-type(2) {
  font-size: 3rem;
  margin-top: 10vh;
}

.welcome .container p:nth-of-type(3) {
  font-size: 4rem;
  margin-top: 20vh;
}

.welcome .container p:nth-of-type(4) {
  font-size: 3.5rem;
}

.landing {
  margin-bottom: 40vh;
  height: 100vh;
  background-size: cover;
  opacity: 0;
  -webkit-transition: opacity .8s ease-in-out;
  transition: opacity .8s ease-in-out;
  position: relative;
}

.landing:after {
  display: none;
}

.landing .img {
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear;
  opacity: 0;
}

.landing .img.active {
  opacity: 1;
}

.landing .main {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100vw;
  padding: 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing .main i {
  font-size: 5rem;
  border-radius: 50%;
  background-color: #c4c4c466;
  color: #000000cc;
}

.landing .main i:hover {
  background-color: #c4c4c433;
  color: #000000;
}

.landing .main .container {
  width: 40vw;
  padding: 2rem;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #00000033;
  color: white;
}

.landing .main .container span {
  display: inline-block;
  text-align: center;
}

.landing .main .container p:nth-of-type(1) {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1rem;
  font-family: 'Patrick Hand', cursive;
}

.landing .main .container p:nth-of-type(2) {
  font-size: 2rem;
}

.landing .main .container button {
  margin-top: 4rem;
  font-size: 1.5rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.landing .dots {
  position: absolute;
  left: 50%;
  bottom: 5%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.landing .explore {
  position: absolute;
  bottom: 3vh;
  right: 3vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing .explore p {
  width: 5rem;
  white-space: wrap;
  text-align: center;
  color: black;
}

.landing .explore i {
  font-size: 3rem;
  border-radius: 50%;
  background-color: #c4c4c466;
  color: #000000cc;
}

.landing .explore i:hover {
  background-color: #c4c4c433;
  color: #000000;
}

.titleAndHr {
  width: 45vw;
  margin: auto;
}

.titleAndHr > p {
  font-size: 2.5rem;
  text-align: center;
}

.aboutUs {
  margin-bottom: 20vh;
}

.aboutUs .bigContainer {
  width: 45vw;
  margin: auto;
}

.aboutUs .bigContainer .columnContainer {
  text-align: center;
}

.aboutUs .bigContainer .columnContainer div {
  margin-top: 1rem;
}

.aboutUs .bigContainer .columnContainer div p {
  font-size: 1.3rem;
}

.aboutUs .bigContainer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
}

.aboutUs .bigContainer .container p {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  font-size: 1.5rem;
  margin-left: 2rem;
}

.aboutUs .bigContainer .container img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.massages {
  margin-bottom: 40vh;
}

.massages .container {
  width: 100vw;
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2rem;
}

.massages .container i {
  font-size: 4rem;
  border-radius: 50%;
  background-color: #c4c4c466;
  color: #000000cc;
}

.massages .container i:hover {
  background-color: #c4c4c433;
  color: #000000;
}

.massages .container .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.massages .container .cards .card {
  background-color: #ffe6cb99;
  width: 15vw;
  margin: 0 1rem;
  border: 1px solid black;
}

.massages .container .cards .card .img {
  background-size: cover;
  height: 8rem;
}

.massages .container .cards .card .content {
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.massages .container .cards .card .content p {
  text-align: center;
}

.massages .container .cards .card .content p:nth-of-type(1) {
  font-size: 1.3rem;
  white-space: nowrap;
  margin-top: .5rem;
  margin-bottom: 1rem;
  font-family: 'Patrick Hand', cursive;
}

.massages .container .cards .card .content p:nth-of-type(2) {
  font-size: 1rem;
  margin-bottom: 2rem;
}

.massages .container .cards .card .content button {
  font-size: .8rem;
  padding: .5rem 1rem;
  margin-bottom: 1rem;
}

.contact {
  margin-bottom: 40vh;
}

.contact .bigContainer {
  width: 65vw;
  margin: auto;
  margin-top: 2rem;
  padding: 1rem;
  background-color: #ffe6cb99;
  border: 1px solid black;
}

.contact .bigContainer > p {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.contact .bigContainer > p span {
  font-weight: bold;
  font-size: 1.3rem;
}

.contact .bigContainer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact .bigContainer .container > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contact .bigContainer .container > div p {
  word-break: break-all;
  font-size: 1.5rem;
  margin: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .bigContainer .container > div p i {
  aspect-ratio: 1;
  font-size: 2rem;
  margin-right: .5rem;
}

.contact .bigContainer .container iframe {
  border: none;
  border-radius: 20px;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.showMore {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffe6cbcc;
}

.showMore .showMoreContainer {
  width: 80vw;
  background-color: #FFE6CB;
  padding: 1rem 2rem;
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.showMore .showMoreContainer i {
  font-size: 2rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.showMore .showMoreContainer > p {
  font-family: 'Patrick Hand', cursive;
  font-size: 2.25rem;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 1rem;
}

.showMore .showMoreContainer .mainContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 1rem;
}

.showMore .showMoreContainer .mainContainer > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  aspect-ratio: 16/9;
}

.showMore .showMoreContainer .mainContainer .left {
  margin-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.showMore .showMoreContainer .mainContainer .left .up > p {
  font-size: 1.25rem;
}

.showMore .showMoreContainer .mainContainer .left .down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.showMore .showMoreContainer .mainContainer .left .down > p {
  font-size: 2rem;
}

.showMore .showMoreContainer .mainContainer .left .down button {
  font-size: 1.5rem;
}

.showMore .showMoreContainer .mainContainer .right {
  margin-left: 1rem;
  background-size: cover;
  border: 1px solid black;
}

.showMore .showMoreContainer .dots {
  margin-bottom: .5rem;
}

.showMore .showMoreContainer .dots i {
  display: inline-block;
  font-size: 2.5rem;
}

.showMore .showMoreContainer .dots > div {
  width: 2rem;
  height: 2rem;
}

.showMore .showMoreContainer .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.showMore .showMoreContainer .options p {
  font-size: 1.2rem;
  text-decoration: underline;
}

.showMore .showMoreContainer .options p:first-of-type {
  color: #427EF3;
  margin-right: 2rem;
}

.header {
  font-family: 'Patrick Hand', cursive;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  padding: .5rem 2rem;
  -webkit-transition: background-color .2s linear, color .2s linear, -webkit-box-shadow .2s linear;
  transition: background-color .2s linear, color .2s linear, -webkit-box-shadow .2s linear;
  transition: background-color .2s linear, color .2s linear, box-shadow .2s linear;
  transition: background-color .2s linear, color .2s linear, box-shadow .2s linear, -webkit-box-shadow .2s linear;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .left, .header .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .left p, .header .right p {
  margin: 0 1rem;
}

.header .left p:last-of-type, .header .right p:last-of-type {
  margin-right: 0;
}

.header .left p {
  font-size: 2.5rem;
}

.header .right p {
  font-size: 1.5rem;
}

.footer {
  font-family: 'Patrick Hand', cursive;
  display: none;
}

.dots {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dots i {
  display: none;
  font-size: 3rem;
  margin: 0 .3rem;
  border-radius: 50%;
  background-color: #c4c4c466;
  color: #000000cc;
}

.dots i:hover {
  background-color: #c4c4c433;
  color: #000000;
}

.dots .dot {
  margin: 0 .3rem;
  width: 3rem;
  height: 3rem;
  border: 1px solid black;
  border-radius: 50%;
  background-color: #c4c4c466;
}

.dots .dot.active {
  background-color: #E4BD31;
  border-color: #FFDF6E;
}

.dots .dot:hover {
  background-color: #f0d164cc;
  border-color: #FFDF6E;
}

.changeFont {
  font-family: 'Source Sans Pro', sans-serif;
}

@media (max-width: 1100px) {
  .showMore .showMoreContainer {
    width: 90vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .showMore .showMoreContainer > p {
    font-size: 2.25rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-bottom: 1rem;
  }
  .showMore .showMoreContainer .mainContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .showMore .showMoreContainer .mainContainer > div {
    width: 50vw;
  }
  .showMore .showMoreContainer .mainContainer .left {
    width: auto;
    margin-right: 0;
    margin-top: 1rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .showMore .showMoreContainer .mainContainer .left .up {
    margin-bottom: 1rem;
  }
  .showMore .showMoreContainer .mainContainer .left .up > p {
    font-size: 1.25rem;
  }
  .showMore .showMoreContainer .mainContainer .left .down {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .showMore .showMoreContainer .mainContainer .left .down > p {
    font-size: 1.8rem;
    margin-bottom: .5rem;
  }
  .showMore .showMoreContainer .mainContainer .left .down button {
    font-size: 1.2rem;
  }
  .showMore .showMoreContainer .mainContainer .right {
    margin-left: 0;
    background-size: cover;
    border: 1px solid black;
  }
  .dots .dot {
    width: 2rem;
    height: 2rem;
  }
  .welcome .container p:nth-of-type(1) {
    font-size: 3.5rem;
  }
  .welcome .container p:nth-of-type(2) {
    font-size: 2.5rem;
  }
  .welcome .container p:nth-of-type(3) {
    font-size: 3.5rem;
  }
  .welcome .container p:nth-of-type(4) {
    font-size: 2.5rem;
  }
  .landing .main {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .landing .main i {
    display: none;
  }
  .landing .main .container {
    width: 90vw;
    padding: 2rem;
  }
  .landing .main .container p:nth-of-type(1) {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1rem;
  }
  .landing .main .container p:nth-of-type(2) {
    font-size: 2rem;
  }
  .landing .main .container button {
    margin-top: 4rem;
    font-size: 1.5rem;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .landing .dots {
    bottom: 15%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .landing .dots i {
    display: inline-block;
  }
  .landing .explore {
    display: none;
  }
  .titleAndHr {
    width: 90vw;
  }
  .aboutUs .bigContainer {
    width: 90vw;
  }
  .aboutUs .bigContainer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1.2rem 2rem;
  }
  .aboutUs .bigContainer .container p {
    margin-left: 0;
    margin-top: 1.2rem;
    text-align: center;
  }
  .massages {
    margin-bottom: 30vh;
  }
  .massages .container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .massages .container .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .massages .container .cards .card {
    width: 30vw;
  }
  .massages .container .cards .card .img {
    height: 12rem;
  }
  .massages .container .cards .card .content p:nth-of-type(1) {
    margin-top: 1rem;
  }
  .contact .bigContainer {
    width: 90vw;
  }
  .contact .bigContainer .container > div p {
    font-size: 1.3rem;
  }
  .contact .bigContainer .container > div p i {
    font-size: 1.8rem;
  }
  .header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header .right {
    display: none;
  }
  .footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: .5rem 1rem;
    -webkit-transition: background-color .2s linear, color .2s linear, -webkit-box-shadow .2s linear;
    transition: background-color .2s linear, color .2s linear, -webkit-box-shadow .2s linear;
    transition: background-color .2s linear, color .2s linear, box-shadow .2s linear;
    transition: background-color .2s linear, color .2s linear, box-shadow .2s linear, -webkit-box-shadow .2s linear;
  }
  .footer > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer > div p {
    font-size: 1.2rem;
    text-decoration: underline;
    margin-bottom: .2rem;
  }
  .footer > div i {
    font-size: 2rem;
  }
}

@media (max-width: 700px) {
  .welcome .container p:nth-of-type(1) {
    font-size: 3.5rem;
  }
  .welcome .container p:nth-of-type(2) {
    font-size: 2rem;
  }
  .welcome .container p:nth-of-type(3) {
    font-size: 3rem;
  }
  .welcome .container p:nth-of-type(4) {
    font-size: 2.5rem;
  }
  .massages .container .cards .card {
    width: 60vw;
  }
  .contact .bigContainer {
    width: 80vw;
    padding: 2rem;
  }
  .contact .bigContainer > p {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
  }
  .contact .bigContainer > p span {
    font-size: 1.15rem;
  }
  .contact .bigContainer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact .bigContainer .container > div {
    width: 100%;
    margin-bottom: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .contact .bigContainer .container > div p {
    font-size: 1rem;
    margin: .5rem 0;
  }
  .contact .bigContainer .container iframe {
    width: 100%;
    aspect-ratio: 16/14;
  }
}

@media (max-width: 500px) {
  .showMore .showMoreContainer i {
    font-size: 1.5rem;
  }
  .showMore .showMoreContainer > p {
    font-size: 2rem;
    margin-bottom: .5rem;
  }
  .showMore .showMoreContainer .mainContainer .left .up {
    margin-bottom: 1rem;
  }
  .showMore .showMoreContainer .mainContainer .left .up > p {
    font-size: 1rem;
  }
  .showMore .showMoreContainer .mainContainer .left .down > p {
    font-size: 1.5rem;
    margin-bottom: .5rem;
  }
  .showMore .showMoreContainer .mainContainer .left .down button {
    font-size: 1rem;
  }
  .showMore .showMoreContainer .mainContainer .right {
    margin-left: 0;
    background-size: cover;
    border: 1px solid black;
  }
  .showMore .showMoreContainer .dots {
    margin-bottom: .5rem;
  }
  .showMore .showMoreContainer .dots i {
    display: inline-block;
    font-size: 2rem;
  }
  .showMore .showMoreContainer .dots > div {
    width: 1.5rem;
    height: 1.5rem;
  }
  .showMore .showMoreContainer .options p {
    font-size: 1rem;
  }
  .welcome .container p:nth-of-type(1) {
    font-size: 2.5rem;
  }
  .welcome .container p:nth-of-type(2) {
    font-size: 1.5rem;
  }
  .welcome .container p:nth-of-type(3) {
    font-size: 2.5rem;
  }
  .welcome .container p:nth-of-type(4) {
    font-size: 2rem;
  }
  .landing .main .container p:nth-of-type(1) {
    font-size: 2.8rem;
  }
  .landing .main .container p:nth-of-type(2) {
    font-size: 1.8rem;
  }
  .contact .bigContainer {
    width: 80vw;
    padding: 1rem;
  }
  .contact .bigContainer > p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }
  .contact .bigContainer > p span {
    font-size: 1.05rem;
  }
  .contact .bigContainer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact .bigContainer .container > div {
    margin-bottom: .5rem;
  }
  .contact .bigContainer .container > div p {
    font-size: 1rem;
  }
  .contact .bigContainer .container > div p i {
    font-size: 1.5rem;
  }
}

@media (max-width: 450px) {
  .dots i {
    font-size: 2.8rem;
  }
  .dots .dot {
    width: 1.8rem;
    height: 1.8rem;
  }
  .landing .main {
    -webkit-transform: translate(-50%, -60%);
            transform: translate(-50%, -60%);
  }
  .landing .main .container {
    padding: 1rem;
  }
  .landing .main .container p:nth-of-type(1) {
    font-size: 2.4rem;
  }
  .landing .main .container p:nth-of-type(2) {
    font-size: 1.4rem;
    text-align: center;
  }
  .landing .main .container button {
    margin-top: 3rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .landing .dots {
    bottom: 20%;
  }
  .massages .container i {
    display: none;
  }
  .massages .container .cards .card {
    width: 80vw;
  }
  .massages .dots i {
    display: inline-block;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 14px;
  }
  .landing .main .container p:nth-of-type(1) {
    font-size: 2.2rem;
  }
  .landing .main .container p:nth-of-type(2) {
    font-size: 1.2rem;
  }
}

@media (max-width: 350px) {
  .showMore .showMoreContainer .mainContainer .left .up > p {
    font-size: 1rem;
  }
  html {
    font-size: 12px;
  }
}
/*# sourceMappingURL=globals.css.map */