body {
  margin: 0;
  padding: 0;
  background: url("../public/media/bg.png");
  background-size: cover;
  background-color: #F5E3D0;
  color: #565350;
  overflow-x: hidden;
}

body * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p, h1, h2 {
  margin: 0;
  padding: 0;
}

button {
  color: white;
  background-color: #E4BD31;
  border: 1px solid #FFDF6E;
  border-radius: 20px;
  -webkit-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25);
          box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25);
  padding: 1rem 2rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  -webkit-transition: border .2s linear, background-color .2s linear, -webkit-transform .2s linear;
  transition: border .2s linear, background-color .2s linear, -webkit-transform .2s linear;
  transition: border .2s linear, background-color .2s linear, transform .2s linear;
  transition: border .2s linear, background-color .2s linear, transform .2s linear, -webkit-transform .2s linear;
}

button:hover {
  background-color: #f0d164cc;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

button:active {
  -webkit-transition: none;
  transition: none;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.shadow {
  -webkit-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25);
          box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25);
}

.clickable {
  cursor: pointer;
  -webkit-transition: border .2s linear, background-color .2s linear, -webkit-transform .2s linear;
  transition: border .2s linear, background-color .2s linear, -webkit-transform .2s linear;
  transition: border .2s linear, background-color .2s linear, transform .2s linear;
  transition: border .2s linear, background-color .2s linear, transform .2s linear, -webkit-transform .2s linear;
}

.clickable:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.clickable:active {
  -webkit-transition: none;
  transition: none;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.underline:hover {
  text-decoration: underline;
}

.welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  max-width: 70vw;
  margin: auto;
  margin-top: 5vh;
}

.welcome p:nth-of-type(1) {
  font-size: 3.5rem;
  margin-top: 1rem;
}

.welcome p:nth-of-type(2) {
  font-size: 3rem;
  margin-top: 10vh;
}

.welcome p:nth-of-type(3) {
  font-size: 4rem;
  margin-top: 20vh;
}

.welcome p:nth-of-type(4) {
  font-size: 3.5rem;
}

.landing {
  margin-bottom: 40vh;
  height: 100vh;
  background-size: cover;
  -webkit-transition: background-image .5s linear;
  transition: background-image .5s linear;
}

.landing:after {
  display: none;
}

.landing .main {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100vw;
  padding: 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing .main i {
  font-size: 5rem;
  border-radius: 50%;
  background-color: #c4c4c466;
  color: #000000cc;
}

.landing .main i:hover {
  background-color: #c4c4c433;
  color: #000000;
}

.landing .main .container {
  width: 40vw;
  padding: 2rem;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #00000033;
  color: white;
}

.landing .main .container p:nth-of-type(1) {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1rem;
}

.landing .main .container p:nth-of-type(2) {
  font-size: 2rem;
}

.landing .main .container button {
  margin-top: 4rem;
  font-size: 1.5rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.landing .dots {
  position: absolute;
  left: 50%;
  bottom: 5%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.landing .dots .dot {
  margin: 0 .3rem;
  width: 3rem;
  height: 3rem;
  border: 1px solid black;
  border-radius: 50%;
  background-color: #c4c4c466;
}

.landing .dots .dot.active {
  background-color: #E4BD31;
  border-color: #FFDF6E;
}

.landing .dots .dot:hover {
  background-color: #f0d164cc;
  border-color: #FFDF6E;
}

.landing .explore {
  position: absolute;
  bottom: 3vh;
  right: 3vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing .explore p {
  width: 5rem;
  white-space: wrap;
  text-align: center;
  color: black;
}

.landing .explore i {
  font-size: 3rem;
  border-radius: 50%;
  background-color: #c4c4c466;
  color: #000000cc;
}

.landing .explore i:hover {
  background-color: #c4c4c433;
  color: #000000;
}

.titleAndHr {
  width: 45vw;
  margin: auto;
}

.titleAndHr > p {
  font-size: 2.5rem;
  text-align: center;
}

.aboutUs {
  margin-bottom: 20vh;
}

.aboutUs .container {
  width: 45vw;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
}

.aboutUs .container p {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  font-size: 1.5rem;
  margin-left: 2rem;
}

.aboutUs .container img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.massages {
  margin-bottom: 40vh;
}

.massages .container {
  width: 100vw;
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2rem;
}

.massages .container i {
  font-size: 4rem;
  border-radius: 50%;
  background-color: #c4c4c466;
  color: #000000cc;
}

.massages .container i:hover {
  background-color: #c4c4c433;
  color: #000000;
}

.massages .container .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.massages .container .cards .card {
  background-color: #ffe6cb99;
  width: 15vw;
  margin: 0 1rem;
  border: 1px solid black;
}

.massages .container .cards .card .img {
  background-size: cover;
  height: 8rem;
}

.massages .container .cards .card .content {
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.massages .container .cards .card .content p {
  text-align: center;
}

.massages .container .cards .card .content p:nth-of-type(1) {
  font-size: 1.3rem;
  white-space: nowrap;
  margin-top: .5rem;
  margin-bottom: 1rem;
}

.massages .container .cards .card .content p:nth-of-type(2) {
  font-size: 1rem;
  margin-bottom: 2rem;
}

.massages .container .cards .card .content button {
  font-size: .8rem;
  padding: .5rem 1rem;
  margin-bottom: 1rem;
}

.contact {
  margin-bottom: 40vh;
}

.contact .container {
  width: 80vw;
  margin: auto;
  margin-top: 2rem;
  padding: 1rem;
  background-color: #ffe6cb99;
  border: 1px solid black;
}

.contact .container > p {
  text-align: center;
  margin-bottom: .5rem;
}

.contact .container .ways {
  width: 40vw;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact .container .ways p {
  font-size: 1.5rem;
  text-decoration: underline;
  color: #56535099;
}

.contact .container .ways p.active {
  color: #565350;
}

.contact .container .triangles {
  width: 40vw;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1rem;
}

.contact .container .triangles img {
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear;
  opacity: 0;
}

.contact .container .triangles img.active {
  opacity: 1;
}

.contact .container .chosen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10vh;
}

.contact .container .chosen > div {
  border: 1px solid black;
  border-radius: 20px;
  width: 40vw;
  height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2px;
}

.contact .container .chosen .phone p {
  font-size: 5rem;
}

.contact .container .chosen .email p {
  font-size: 4rem;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  padding: .5rem 2rem;
  -webkit-transition: background-color .2s linear, color .2s linear, -webkit-box-shadow .2s linear;
  transition: background-color .2s linear, color .2s linear, -webkit-box-shadow .2s linear;
  transition: background-color .2s linear, color .2s linear, box-shadow .2s linear;
  transition: background-color .2s linear, color .2s linear, box-shadow .2s linear, -webkit-box-shadow .2s linear;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .left, .header .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .left p, .header .right p {
  margin: 0 1rem;
}

.header .left p:last-of-type, .header .right p:last-of-type {
  margin-right: 0;
}

.header .left p {
  font-size: 2.5rem;
}

.header .right p {
  font-size: 1.5rem;
}
/*# sourceMappingURL=globals.css.map */