$text: #565350;
$text-60: #56535099;
$link: #427EF3;
$brown-body-fill: #F5E3D0;

body {
    margin: 0;
    padding: 0;
    background: url('../public/media/bg.png');
    background-size: cover;

    background-color: $brown-body-fill;
    color: $text;

    overflow-x: hidden;
    overflow-y: hidden;

    // font-family: 'Patrick Hand', cursive;
    
    font-family: 'Source Sans Pro', sans-serif;
}

body * {
    box-sizing: border-box;
}

p, h1, h2 {
    margin: 0;
    padding: 0;
}

$brown-fill: #FFE6CB;
$brown-fill-60: #ffe6cb99;
$brown-fill-80: #ffe6cbcc;

$primary: #E4BD31;
$primary-border: #FFDF6E;
$primary-hover: #f0d164cc;

$black-bg: #00000033;
$black-bg-hover: #70707033;

$silver-bg: #c4c4c466;
$silver-bg-hover: #c4c4c433;

button {
    color: white;
    background-color: $primary;
    border: 1px solid $primary-border;
    border-radius: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, .25);

    padding: 1rem 2rem;
    width: fit-content;

    cursor: pointer;

    transition: border .2s linear, background-color .2s linear, transform .2s linear;

    &:hover {
        background-color: $primary-hover;
        transform: scale(1.1);
    }

    &:active {
        transition: none;
        transform: scale(1);
    }
}

.shadow {
    box-shadow: 0 5px 25px rgba(0, 0, 0, .25);
}

.clickable {
    cursor: pointer;

    transition: border .2s linear, background-color .2s linear, transform .2s linear;

    &:hover {
        transform: scale(1.1);
    }

    &:active {
        transition: none;
        transform: scale(1);
    }
}

.underline {
    &:hover {
        text-decoration: underline;
    }
}

.welcome {
    z-index: 5;

    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background: url('../public/media/bg.png');
    background-color: $brown-fill;
    background-size: cover;

    transition: top .8s ease-in-out, opacity .8s ease-in-out;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        max-width: 70vw;
        margin: auto;
        
        margin-top: 5vh;
        
        p {
            transition: opacity 1s linear;
            opacity: 0;

            &:nth-of-type(1) {
                font-size: 3.5rem;
                margin-top: 1rem;
            }
            
            &:nth-of-type(2) {
                font-size: 3rem;
                margin-top: 10vh;
            }
            
            &:nth-of-type(3) {
                font-size: 4rem;
                margin-top: 20vh;
            }
            
            &:nth-of-type(4) {
                font-size: 3.5rem;
            }
        }
    }
}

.landing {
    margin-bottom: 40vh;

    height: 100vh;
    background-size: cover;

    opacity: 0;
    transition: opacity .8s ease-in-out;

    position: relative;

    &:after {
        display: none;
    }

    .img {
        transition: opacity .2s linear;

        opacity: 0;

        &.active {
            opacity: 1;
        }
    }

    .main {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        
        width: 100vw;
        padding: 0 2rem;

        display: flex;
        justify-content: space-between;
        align-items: center;

        i {
            font-size: 5rem;
            border-radius: 50%;
            background-color: $silver-bg;
            color: #000000cc;

            &:hover {
                background-color: $silver-bg-hover;
                color: #000000;
            }
        }

        .container {
            width: 40vw;
            padding: 2rem;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            background-color: $black-bg;
            color: white;

            span {
                display: inline-block;
                text-align: center;
            }

            p {
                &:nth-of-type(1) {
                    font-size: 3rem;
                    text-align: center;
                    margin-bottom: 1rem;
                    font-family: 'Patrick Hand', cursive;
                }

                &:nth-of-type(2) {
                    font-size: 2rem;
                }
            }

            button {
                margin-top: 4rem;
                font-size: 1.5rem;
                align-self: flex-end;
            }
        }
    }

    .dots {
        position: absolute;
        left: 50%;
        bottom: 5%;
        transform: translateX(-50%);

        display: flex;
    }

    .explore {
        position: absolute;
        bottom: 3vh;
        right: 3vw;

        display: flex;
        align-items: center;

        p {
            width: 5rem;
            white-space: wrap;
            text-align: center;
            color: black;
        }

        i {
            font-size: 3rem;
            border-radius: 50%;
            background-color: $silver-bg;
            color: #000000cc;

            &:hover {
                background-color: $silver-bg-hover;
                color: #000000;
            }
        }
    }
}

.titleAndHr {
    width: 45vw;
    margin: auto;

    &>p {
        font-size: 2.5rem;
        text-align: center;
    }
}

.aboutUs {
    margin-bottom: 20vh;

    .bigContainer {
        width: 45vw;
        margin: auto;

        .columnContainer {
            text-align: center;

            div {
                margin-top: 1rem;

                p {
                    font-size: 1.3rem;
                }
            }
        }
        
        .container {

            display: flex;
            align-items: center;
            padding: 2rem;
            
            p {
                flex: 2;
                font-size: 1.5rem;
                margin-left: 2rem;
            }
            
            img {
                flex: 1;
            }
        }
    }
}

.massages {
    margin-bottom: 40vh;

    .container {
        width: 100vw;
        margin-top: 2rem;

        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2rem;

        i {
            font-size: 4rem;
            border-radius: 50%;
            background-color: $silver-bg;
            color: #000000cc;

            &:hover {
                background-color: $silver-bg-hover;
                color: #000000;
            }
        }

        .cards {
            display: flex;
            justify-content: center;
            
            .card {
                background-color: $brown-fill-60;

                width: 15vw;
                margin: 0 1rem;
                border: 1px solid black;

                .img {
                    background-size: cover;
                    height: 8rem;
                }

                .content {
                    padding: 0 1rem;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    p {
                        text-align: center;

                        &:nth-of-type(1) {
                            font-size: 1.3rem;
                            white-space: nowrap;
                            margin-top: .5rem;
                            margin-bottom: 1rem;
                            font-family: 'Patrick Hand', cursive;
                        }
                        
                        &:nth-of-type(2) {
                            font-size: 1rem;
                            margin-bottom: 2rem;
                        }
                    }

                    button {
                        font-size: .8rem;
                        padding: .5rem 1rem;
                        margin-bottom: 1rem;
                    }
                }
            }
        }
    }
}

.contact {
    margin-bottom: 40vh;

    .bigContainer {
        width: 65vw;
        margin: auto;
        margin-top: 2rem;
        padding: 1rem;

        background-color: $brown-fill-60;
        border: 1px solid black;

        &>p {
            text-align: center;
            font-size: 1.2rem;
            margin-bottom: 1rem;

            span {
                font-weight: bold;
                font-size: 1.3rem;
            }
        }

        .container {

            display: flex;

            &>div {
                flex: 1;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;

                p {
                    word-break: break-all;
                    font-size: 1.5rem;
                    margin: 1rem 0;

                    display: flex;
                    align-items: center;

                    i {
                        aspect-ratio: 1;
                        font-size: 2rem;
                        margin-right: .5rem;
                    }

                    // span.facebook {
                    //     text-decoration: underline;
                    // }
                }
            }

            iframe {
                border: none;
                border-radius: 20px;
                flex: 2;
            }
        }
    }
}

.showMore {
    z-index: 1;

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $brown-fill-80;

    .showMoreContainer {
        width: 80vw;
        // height: 80vh;
        background-color: $brown-fill;

        padding: 1rem 2rem;
        
        border: 1px solid black;

        display: flex;
        flex-direction: column;

        i {
            font-size: 2rem;
            align-self: flex-end;
        }

        &>p {
            font-family: 'Patrick Hand', cursive;
            font-size: 2.25rem;
            text-align: center;
            align-self: center;
            margin-bottom: 1rem;
        }

        .mainContainer {
            display: flex;
            flex-direction: row;

            margin-bottom: 1rem;

            &>div {
                flex: 1;

                aspect-ratio: 16/9;
            }

            .left {
                margin-right: 1rem;

                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .up {
                    &>p {
                        font-size: 1.25rem;
                    }
                }

                .down {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;

                    &>p {
                        font-size: 2rem;
                    }

                    button {
                        font-size: 1.5rem;
                    }
                }
            }

            .right {
                margin-left: 1rem;

                background-size: cover;

                border: 1px solid black;
                // border-radius: 20px;
            }
        }

        .dots {
            margin-bottom: .5rem;

            i {
                display: inline-block;

                font-size: 2.5rem;
            }

            &>div {
                width: 2rem;
                height: 2rem;
            }
        }

        .options {
            display: flex;
            align-self: flex-end;

            p {
                font-size: 1.2rem;
                text-decoration: underline;

                &:first-of-type {
                    color: $link;
                    margin-right: 2rem;
                }
            }
        }
    }
}

.header {
    font-family: 'Patrick Hand', cursive;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    padding: .5rem 2rem;

    // background-color: $silver-bg;
    // color: white;

    transition: background-color .2s linear, color .2s linear, box-shadow .2s linear;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .left, .right {
        display: flex;
        align-items: center;

        p {
            margin: 0 1rem;

            &:last-of-type {
                margin-right: 0;
            }
        }
    }

    .left p {
        font-size: 2.5rem;
    }

    .right p {
        font-size: 1.5rem;
    }
}

.footer {
    font-family: 'Patrick Hand', cursive;
    display: none;
}

.dots {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    i {
        display: none;

        font-size: 3rem;
        margin: 0 .3rem;

        border-radius: 50%;
        background-color: $silver-bg;
        color: #000000cc;

        &:hover {
            background-color: $silver-bg-hover;
            color: #000000;
        }
    }

    .dot {
        margin: 0 .3rem;
        width: 3rem;
        height: 3rem;
        border: 1px solid black;
        border-radius: 50%;
        
        background-color: $silver-bg;
        
        &.active {
            background-color: $primary;
            border-color: $primary-border;
        }
        
        &:hover {
            background-color: $primary-hover;
            border-color: $primary-border;
        }
    }
}

.changeFont {
    font-family: 'Source Sans Pro', sans-serif;
}

// mobile

@media (max-width: 1100px) {
    .showMore {
        .showMoreContainer {
            width: 90vw;
    
            display: flex;
            flex-direction: column;
    
            &>p {
                font-size: 2.25rem;
                align-self: center;
                margin-bottom: 1rem;
            }
    
            .mainContainer {
                display: flex;
                flex-direction: column-reverse;
                justify-content: center;
                align-items: center;
                text-align: center;
    
                &>div {
                    width: 50vw;
                }
    
                .left {
                    width: auto;
                    margin-right: 0;
                    margin-top: 1rem;

                    justify-content: center;
    
                    .up {
                        margin-bottom: 1rem;

                        &>p {
                            font-size: 1.25rem;
                        }
                    }
    
                    .down {
                        flex-direction: column;

                        &>p {
                            font-size: 1.8rem;
                            margin-bottom: .5rem;
                        }
    
                        button {
                            font-size: 1.2rem;
                        }
                    }
                }
    
                .right {
                    margin-left: 0;
    
                    background-size: cover;
    
                    border: 1px solid black;
                }
            }
        }
    }

    .dots {
        .dot {
            width: 2rem;
            height: 2rem;
        }
    }

    .welcome {
        .container {
            p {
                &:nth-of-type(1) {
                    font-size: 3.5rem;
                }
                
                &:nth-of-type(2) {
                    font-size: 2.5rem;
                }
                
                &:nth-of-type(3) {
                    font-size: 3.5rem;
                }
                
                &:nth-of-type(4) {
                    font-size: 2.5rem;
                }
            }
        }
    }

    .landing {
        .main {
            justify-content: center;
    
            i {
                display: none;
            }
    
            .container {
                width: 90vw;
                padding: 2rem;
    
                p {
                    &:nth-of-type(1) {
                        font-size: 3rem;
                        text-align: center;
                        margin-bottom: 1rem;
                    }
    
                    &:nth-of-type(2) {
                        font-size: 2rem;
                    }
                }
    
                button {
                    margin-top: 4rem;
                    font-size: 1.5rem;
                    align-self: flex-end;
                }
            }
        }
    
        .dots {
            bottom: 15%;
            transform: translateX(-50%);
            align-items: center;

            i {
                display: inline-block;
            }
        }
    
        .explore {
            display: none;
        }
    }

    .titleAndHr {
        width: 90vw;
    }

    .aboutUs {
        .bigContainer {
            width: 90vw;
        }

        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 1.2rem 2rem;
    
            p {
                margin-left: 0;
                margin-top: 1.5rem;
                text-align: center;
            }
        }
    }

    .massages {
        margin-bottom: 30vh;
    
        .container {
            justify-content: center;
    
            .cards {
                display: flex;
                justify-content: center;
                
                .card {
                    width: 30vw;
    
                    .img {
                        height: 12rem;
                    }
    
                    .content {
                        p {
                            &:nth-of-type(1) {
                                margin-top: 1rem;
                            }
                        }
                    }
                }
            }
        }
    }

    .contact {
        .bigContainer {
            width: 90vw;

            .container {
                &>div {
                    p {
                        font-size: 1.3rem;
                        
                        i {
                            font-size: 1.8rem;
                        }
                    }
                }
            }
        }
    }

    .header {
        justify-content: center;

        .right {
            display: none;
        }
    }

    .footer {
        position: fixed;
        bottom: 0;
        width: 100vw;

        display: flex;
        justify-content: space-around;
        align-items: center;

        padding: .5rem 1rem;

        transition: background-color .2s linear, color .2s linear, box-shadow .2s linear;

        &>div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            p {
                font-size: 1.2rem;
                text-decoration: underline;
                margin-bottom: .2rem;
            }

            i {
                font-size: 2rem;
            }
        }
    }
}

@media (max-width: 700px) {
    .welcome {
        .container {
            p {
                &:nth-of-type(1) {
                    font-size: 3.5rem;
                }
                
                &:nth-of-type(2) {
                    font-size: 2rem;
                }
                
                &:nth-of-type(3) {
                    font-size: 3rem;
                }
                
                &:nth-of-type(4) {
                    font-size: 2.5rem;
                }
            }
        }
    }

    .massages {
        .container {
            .cards {
                .card {
                    width: 60vw;
                }
            }
        }
    }

    .contact {
        .bigContainer {
            width: 80vw;
            padding: 2rem;

            &>p {
                font-size: 1.1rem;
                margin-bottom: 1.5rem;

                span {
                    font-size: 1.15rem;
                }
            }

            .container {
                
                display: flex;
                flex-direction: column;
                
                &>div {
                    width: 100%;
                    margin-bottom: 1rem;
                    
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    
                    p {
                        font-size: 1rem;
                        margin: .5rem 0;
                    }
                }
                
                iframe {
                    width: 100%;
                    aspect-ratio: 16/14;
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .showMore {
        .showMoreContainer {
            i {
                font-size: 1.5rem;
            }

            &>p {
                font-size: 2rem;
                margin-bottom: .5rem;
            }
    
            .mainContainer {
                .left {
                    .up {
                        margin-bottom: 1rem;

                        &>p {
                            font-size: 1rem;
                        }
                    }
    
                    .down {
                        &>p {
                            font-size: 1.5rem;
                            margin-bottom: .5rem;
                        }
    
                        button {
                            font-size: 1rem;
                        }
                    }
                }
    
                .right {
                    margin-left: 0;
    
                    background-size: cover;
    
                    border: 1px solid black;
                }
            }
    
            .dots {
                margin-bottom: .5rem;
    
                i {
                    display: inline-block;
    
                    font-size: 2rem;
                }
    
                &>div {
                    width: 1.5rem;
                    height: 1.5rem;
                }
            }
    
            .options {
                p {
                    font-size: 1rem;
                }
            }
        }
    }

    .welcome {
        .container {
            p {
                &:nth-of-type(1) {
                    font-size: 2.5rem;
                }
                
                &:nth-of-type(2) {
                    font-size: 1.5rem;
                    // margin-top: 15vh;
                }
                
                &:nth-of-type(3) {
                    font-size: 2.5rem;
                    // margin-top: 25vh;
                }
                
                &:nth-of-type(4) {
                    font-size: 2rem;
                }
            }
        }
    }

    .landing {
        .main {
            .container {
                p {
                    &:nth-of-type(1) {
                        font-size: 2.8rem;
                    }
    
                    &:nth-of-type(2) {
                        font-size: 1.8rem;
                    }
                }
            }
        }
    }

    .contact {
        .bigContainer {
            width: 80vw;
            padding: 1rem;

            &>p {
                font-size: 1rem;
                margin-bottom: 1.5rem;

                span {
                    font-size: 1.05rem;
                }
            }

            .container {
                display: flex;
                flex-direction: column;
                
                &>div {
                    margin-bottom: .5rem;
                    
                    p {
                        font-size: 1rem;
                        
                        i {
                            font-size: 1.5rem;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 450px) {
    .dots {
        i {
            font-size: 2.8rem;
        }

        .dot {
            width: 1.8rem;
            height: 1.8rem;
        }
    }

    .landing {
        .main {
            transform: translate(-50%, -60%);

            .container {
                padding: 1rem;

                p {
                    &:nth-of-type(1) {
                        font-size: 2.4rem;
                    }
    
                    &:nth-of-type(2) {
                        font-size: 1.4rem;
                        text-align: center;
                    }
                }

                button {
                    margin-top: 3rem;
                    align-self: center;
                }
            }
        }

        .dots {
            bottom: 20%;
        }
    }
    
    .massages {
        .container {
            i {
                display: none;
            }

            .cards {
                .card {
                    width: 80vw;
                }
            }
        }

        .dots {
            i {
                display: inline-block;
            }
        }
    }
}

@media (max-width: 400px) {
    html {
        font-size: 14px;
    }

    .landing {
        .main {
            .container {
                p {
                    &:nth-of-type(1) {
                        font-size: 2.2rem;
                    }
    
                    &:nth-of-type(2) {
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 350px) {
    .showMore {
        .showMoreContainer {
            .mainContainer {
                .left {
                    .up {
                        &>p {
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    }

    html {
        font-size: 12px;
    }
}