$text: #565350;
$text-60: #56535099;
$link: #427EF3;
$brown-body-fill: #F5E3D0;

body {
    margin: 0;
    padding: 0;
    background: url('../public/media/bg.png');
    background-size: cover;

    background-color: $brown-body-fill;
    color: $text;

    overflow-x: hidden;
}

body * {
    box-sizing: border-box;
}

p, h1, h2 {
    margin: 0;
    padding: 0;
}

$brown-fill: #FFE6CB;
$brown-fill-60: #ffe6cb99;

$primary: #E4BD31;
$primary-border: #FFDF6E;
$primary-hover: #f0d164cc;

$black-bg: #00000033;
$black-bg-hover: #70707033;

$silver-bg: #c4c4c466;
$silver-bg-hover: #c4c4c433;

button {
    color: white;
    background-color: $primary;
    border: 1px solid $primary-border;
    border-radius: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, .25);

    padding: 1rem 2rem;
    width: fit-content;

    cursor: pointer;

    transition: border .2s linear, background-color .2s linear, transform .2s linear;

    &:hover {
        background-color: $primary-hover;
        transform: scale(1.1);
    }

    &:active {
        transition: none;
        transform: scale(1);
    }
}

.shadow {
    box-shadow: 0 5px 25px rgba(0, 0, 0, .25);
}

.clickable {
    cursor: pointer;

    transition: border .2s linear, background-color .2s linear, transform .2s linear;

    &:hover {
        transform: scale(1.1);
    }

    &:active {
        transition: none;
        transform: scale(1);
    }
}

.underline {
    &:hover {
        text-decoration: underline;
    }
}

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 70vw;
    margin: auto;

    margin-top: 5vh;

    p {
        &:nth-of-type(1) {
            font-size: 3.5rem;
            margin-top: 1rem;
        }

        &:nth-of-type(2) {
            font-size: 3rem;
            margin-top: 10vh;
        }

        &:nth-of-type(3) {
            font-size: 4rem;
            margin-top: 20vh;
        }

        &:nth-of-type(4) {
            font-size: 3.5rem;
        }
    }
}

.landing {
    margin-bottom: 40vh;

    height: 100vh;
    background-size: cover;
    // object-fit: cover;

    transition: background-image .5s linear;

    &:after {
        display: none;
    }

    .main {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        
        width: 100vw;
        padding: 0 2rem;

        display: flex;
        justify-content: space-between;
        align-items: center;

        i {
            font-size: 5rem;
            border-radius: 50%;
            background-color: $silver-bg;
            color: #000000cc;

            &:hover {
                background-color: $silver-bg-hover;
                color: #000000;
            }
        }

        .container {
            width: 40vw;
            padding: 2rem;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            background-color: $black-bg;
            color: white;

            p {
                &:nth-of-type(1) {
                    font-size: 3rem;
                    text-align: center;
                    margin-bottom: 1rem;
                }

                &:nth-of-type(2) {
                    font-size: 2rem;
                }
            }

            button {
                margin-top: 4rem;
                font-size: 1.5rem;
                align-self: flex-end;
            }
        }
    }

    .dots {
        position: absolute;
        left: 50%;
        bottom: 5%;
        transform: translateX(-50%);

        display: flex;
    }

    .explore {
        position: absolute;
        bottom: 3vh;
        right: 3vw;

        display: flex;
        align-items: center;

        p {
            width: 5rem;
            white-space: wrap;
            text-align: center;
            color: black;
        }

        i {
            font-size: 3rem;
            border-radius: 50%;
            background-color: $silver-bg;
            color: #000000cc;

            &:hover {
                background-color: $silver-bg-hover;
                color: #000000;
            }
        }
    }
}

.titleAndHr {
    width: 45vw;
    margin: auto;

    &>p {
        font-size: 2.5rem;
        text-align: center;
    }
}

.aboutUs {
    margin-bottom: 20vh;

    .container {
        width: 45vw;
        margin: auto;

        display: flex;
        align-items: center;
        padding: 2rem;

        p {
            flex: 2;
            font-size: 1.5rem;
            margin-left: 2rem;
        }

        img {
            flex: 1;
        }
    }
}

.massages {
    margin-bottom: 40vh;

    .container {
        width: 100vw;
        margin-top: 2rem;

        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2rem;

        i {
            font-size: 4rem;
            border-radius: 50%;
            background-color: $silver-bg;
            color: #000000cc;

            &:hover {
                background-color: $silver-bg-hover;
                color: #000000;
            }
        }

        .cards {
            display: flex;
            justify-content: center;
            
            .card {
                background-color: $brown-fill-60;

                width: 15vw;
                margin: 0 1rem;
                border: 1px solid black;

                .img {
                    background-size: cover;
                    height: 8rem;
                }

                .content {
                    padding: 0 1rem;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    p {
                        text-align: center;

                        &:nth-of-type(1) {
                            font-size: 1.3rem;
                            white-space: nowrap;
                            margin-top: .5rem;
                            margin-bottom: 1rem;
                        }
                        
                        &:nth-of-type(2) {
                            font-size: 1rem;
                            margin-bottom: 2rem;
                        }
                    }

                    button {
                        font-size: .8rem;
                        padding: .5rem 1rem;
                        margin-bottom: 1rem;
                    }
                }
            }
        }
    }
}

.contact {
    margin-bottom: 40vh;

    .container {
        width: 80vw;
        margin: auto;
        margin-top: 2rem;
        padding: 1rem;

        background-color: $brown-fill-60;
        border: 1px solid black;

        &>p {
            text-align: center;
            margin-bottom: .5rem;
        }

        .ways {
            width: 40vw;
            margin: auto;

            display: flex;
            justify-content: space-between;
            
            p {
                font-size: 1.5rem;
                text-decoration: underline;

                color: $text-60;

                &.active {
                    color: $text;
                }
            }
        }

        .triangles {
            width: 40vw;
            margin: auto;

            display: flex;
            justify-content: space-between;
            padding: 0 1rem;

            
            img {
                transition: opacity .2s linear;

                opacity: 0;

                &.active {
                    opacity: 1;
                }
            }
        }

        .chosen {
            display: flex;
            justify-content: center;
            margin-bottom: 10vh;

            &>div {
                border: 1px solid black;
                border-radius: 20px;

                width: 40vw;
                height: 40vh;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 2px;
            }

            .phone {
                p {
                    font-size: 5rem;
                }
            }

            .email {
                p {
                    font-size: 4rem;
                }
            }
        }
    }
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    padding: .5rem 2rem;

    // background-color: $silver-bg;
    // color: white;

    transition: background-color .2s linear, color .2s linear, box-shadow .2s linear;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .left, .right {
        display: flex;
        align-items: center;

        p {
            margin: 0 1rem;

            &:last-of-type {
                margin-right: 0;
            }
        }
    }

    .left p {
        font-size: 2.5rem;
    }

    .right p {
        font-size: 1.5rem;
    }
}

.footer {
    display: none;
}

.dots {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    i {
        display: none;

        font-size: 3rem;
        margin: 0 .3rem;

        border-radius: 50%;
        background-color: $silver-bg;
        color: #000000cc;

        &:hover {
            background-color: $silver-bg-hover;
            color: #000000;
        }
    }

    .dot {
        margin: 0 .3rem;
        width: 3rem;
        height: 3rem;
        border: 1px solid black;
        border-radius: 50%;
        
        background-color: $silver-bg;
        
        &.active {
            background-color: $primary;
            border-color: $primary-border;
        }
        
        &:hover {
            background-color: $primary-hover;
            border-color: $primary-border;
        }
    }
}

// mobile

@media (max-width: 1100px) {
    .dots {
        .dot {
            width: 2rem;
            height: 2rem;
        }
    }

    .landing {
        .main {
            justify-content: center;
    
            i {
                display: none;
            }
    
            .container {
                width: 90vw;
                padding: 2rem;
    
                p {
                    &:nth-of-type(1) {
                        font-size: 3rem;
                        text-align: center;
                        margin-bottom: 1rem;
                    }
    
                    &:nth-of-type(2) {
                        font-size: 2rem;
                    }
                }
    
                button {
                    margin-top: 4rem;
                    font-size: 1.5rem;
                    align-self: flex-end;
                }
            }
        }
    
        .dots {
            bottom: 15%;
            transform: translateX(-50%);
            align-items: center;

            i {
                display: inline-block;
            }
        }
    
        .explore {
            display: none;
        }
    }

    .titleAndHr {
        width: 90vw;
    }

    .aboutUs {
        .container {
            width: 90vw;
    
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 1.2rem 2rem;
    
            p {
                margin-left: 0;
                margin-top: 1.5rem;
                text-align: center;
            }
        }
    }

    .massages {
        margin-bottom: 30vh;
    
        .container {
            justify-content: center;
    
            .cards {
                display: flex;
                justify-content: center;
                
                .card {
                    width: 30vw;
    
                    .img {
                        height: 12rem;
                    }
    
                    .content {
                        p {
                            &:nth-of-type(1) {
                                margin-top: 1rem;
                            }
                        }
                    }
                }
            }
        }
    }

    .contact {
        margin-bottom: 40vh;
    
        .container {
            width: 80vw;
    
            .ways {
                width: 100%;
                
                p {
                    font-size: 1.5rem;
                }
            }
    
            .triangles {
                width: 100%;
            }
    
            .chosen {
                margin-bottom: 5vh;
    
                &>div {
                    width: 100%;
                    height: 30vh;
                }
    
                .phone {
                    p {
                        font-size: 3rem;
                    }
                }
    
                .email {
                    p {
                        font-size: 2rem;
                    }
                }
            }
        }
    }

    .header {
        justify-content: center;

        .right {
            display: none;
        }
    }

    .footer {
        position: fixed;
        bottom: 0;
        width: 100vw;

        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: .5rem 1rem;

        transition: background-color .2s linear, color .2s linear, box-shadow .2s linear;

        &>div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            p {
                font-size: 1.2rem;
                text-decoration: underline;
                margin-bottom: .2rem;
            }

            i {
                font-size: 2rem;
            }
        }
    }
}

@media (max-width: 700px) {
    .massages {
        .container {
            .cards {
                .card {
                    width: 60vw;
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .landing {
        .main {
            .container {
                p {
                    &:nth-of-type(1) {
                        font-size: 2.8rem;
                    }
    
                    &:nth-of-type(2) {
                        font-size: 1.8rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 450px) {
    .dots {
        i {
            font-size: 2.8rem;
        }

        .dot {
            width: 1.8rem;
            height: 1.8rem;
        }
    }

    .landing {
        .main {
            .container {
                p {
                    &:nth-of-type(1) {
                        font-size: 2.6rem;
                    }
    
                    &:nth-of-type(2) {
                        font-size: 1.6rem;
                        text-align: center;
                    }
                }

                button {
                    align-self: center;
                }
            }
        }
    }
    
    .massages {
        .container {
            i {
                display: none;
            }

            .cards {
                .card {
                    width: 80vw;
                }
            }
        }

        .dots {
            i {
                display: inline-block;
            }
        }
    }
}

@media (max-width: 400px) {
    html {
        font-size: 14px;
    }
}

@media (max-width: 350px) {
    html {
        font-size: 12px;
    }
}